@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

.vollkorn-400 {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.vollkorn-500 {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.vollkorn-700 {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.vollkorn-800 {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.vollkorn-900 {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
